body{
    background-color: green;
    color: white;
}

.title{
    /* border: solid black 1px; */
    position: absolute;
    width: 560px;    
    left: calc(50% - 280px);
}

.example{
    height: 170px;
}

.description{
    width: 500px;
    position: absolute;
    left: 60%;
    top: 250px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
    line-height: 25px;
    font-size: 20px;
}

.fruit{
    width: 900px;
    position: absolute;
    left: 8%;
    top: 50px;
}

a{
    text-decoration: none;
    color: white;
}