body{
    background-color: honeydew;
}

.title{
    /* border: solid black 1px; */
    position: absolute;
    width: 750px;    
    left: calc(50% - 375px);
}

.example{
    height: 170px;
}

.description{
    width: 500px;
    position: absolute;
    left: 60%;
    top: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
    line-height: 25px;
    font-size: 20px;
}

.nood{
    width: 800px;
    position: absolute;
    left: 8%;
    top: 150px;
}

a{
    text-decoration: none;
    color: black;
}