body{
    background-color: hotpink;
    color: white;
}

.title{
    /* border: solid black 1px; */
    position: absolute;
    width: 550px;    
    left: calc(50% - 275px);
}

.example{
    height: 170px;
}

.description{
    width: 500px;
    position: absolute;
    left: 60%;
    top: 300px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
    line-height: 25px;
    font-size: 20px;
}

.pocky{
    width: 800px;
    position: absolute;
    left: 10%;
    top: 80px;
}

a{
    text-decoration: none;
    color: white;
}